<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Board.mapper.MenuMapper">

	<select id="getRestMenu" parameterType="com.Board.dto.RestaurantDTO"
		resultType="com.Board.dto.MenuDTO">
		SELECT *
		FROM rest_menu
		WHERE rest_id in (#{value})
	</select>
</mapper>