<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <script src="vue1.js"></script>
    <script src="content.vue"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="grid">
        <div class="grid-1">
            <div class="grid-1-a">
                <div id="contentWrap">
                    <div class="searchdiv">
                        <input placeholder="Search" type="search" class="input" v-model="rest">
                        <button type="button" id="btnSearch" @click="search">검색</button><br>
                    </div>
                    <div class="memberList">
                        <table class="evenTable">
                            <tr v-if="memberList.length > 0" v-for="(member, index) in memberList">
                                <td v-if="member.memberId % 2 == 0">
                                    <label>
                                        <input type="checkbox" name="memberName" :value="member.memberId"
                                            v-model="checkedMemberList">{{member.memberKrName}}
                                    </label>
                                </td>
                            </tr>
                        </table>
                        <table class="oddTable">
                            <tr v-if="memberList.length > 0" v-for="(member, index) in memberList">
                                <td v-if="member.memberId % 2 == 1">
                                    <label>
                                        <input type="checkbox" name="memberName" :value="member.memberId"
                                            v-model="checkedMemberList">{{member.memberKrName}}
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="memberControl">
                        <button type="button" @click="memberClear">선택 해제</button>
                        <button type="button" value="all" @click="checkAllMembers">전체 선택</button>
                        <button type="button" @click="recommend">추천하기</button>
                    </div>
                </div>
            </div>

            <div class="grid-1-b">
                <div id="lunchWrap">
                    <div>
                        <p>{{restList.length}}개 검색</p>
                        <input type="radio" name="radio" id="radioRP" value="point" v-model="picked"
                            @change="changeRadio">
                        <label for="radioRP">선호도</label>
                        <input type="radio" name="radio" id="radioRD" value="distance" v-model="picked"
                            @change="changeRadio">
                        <label for="radioRD">거리순</label>
                    </div>
                    <div class="scrolltable">
                        <table v-if="restList.length>0" v-for="(rest,index) in restList"
                            class="restTable" :value="rest.restId" :lon="rest.restLon"
                            :lat="rest.restLat" @click="restClick">
                            <tr>
                                <td>
                                    {{rest.restName}}
                                </td>
                                <td style="float: right;">
                                    {{rest.restCategory}}
                                </td>
                            </tr>
                            <td colspan="2">
                                {{rest.restAddr}}
                            </td>
                            </tr>
                        </table>
                        <table v-if="restList.length == 0">
                            <tr>
                                <td>결과 없음</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-2">
            <div id="mapCtrlWrap">
                <div class="btn-group">
                    <table>
                        <tr v-if="categoryButton.length>0" v-for="(category, index) in categoryButton">
                            <td>
                                <label>
                                    <button type="button" name="category" :value="category.restCategory"
                                        @click="categoryRest">
                                        {{category.restCategory}}
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="layerBtn">
                    <button type="button" id="btnGeoOn" @click="wmsOn">On</button>
                    <button type="button" id="btnGeoOff" @click="wmsOff">Off</button>
                </div>
                <div class="gaiaBtn">
                    <button type="button" id="btnGaia" @click="gaiaOn">Gaia3D</button>
                </div>
            </div>
            <div class="map" id="map"></div>
        </div>

    </div>
</body>

</html>