<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css" type="text/css">
    <script src="test.js"></script>
    <style>
        .map {
            width: 80%;
            height: 100%;
        }

        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 30vw 70vw;
            grid-template-rows: 100vw;
        }

        .slider {
            margin-left: 30px;
        }
    </style>
</head>

<body>
    <div class="grid-container">
        <div class="grid-1">
            <div class="sidebar">
                <div id="ctrlWrap">
                    <button type="button" id="btnLoad">불러오기</button>
                    <button type="button" id="btnClear">초기화</button>
                    <label><input type="radio" name="category" value="" checked="checked">ALL</label>
                    <label><input type="radio" name="category" value="한식">한식</label>
                    <label><input type="radio" name="category" value="중식">중식</label>
                    <label><input type="radio" name="category" value="양식">양식</label>
                    <label><input type="radio" name="category" value="일식">일식</label>
                </div>

                <div id="lunchWrap">
                <table>
                <tr v-if="restList.length>0"
                	v-for="(rest,index) in restList"
                	>
                <td>restId : {{rest.restName}}</td>
                </tr>
                <tr v-if="restList.length == 0">
                <td>결과 없음</td>
                </tr>
                </table>
                    <p>restId : {{restList[0].restName}}</p>
                </div>
            </div>
        </div>
        <div class="grid-2">
            <div id="map" style="width:100%;height:80vh;"></div>
        </div>
    </div>

    <script>
	    var vectorLayer = new ol.layer.Vector({
	        source: new ol.source.Vector()
	    });

        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                vectorLayer
            ],
            view: new ol.View({
                zoom: 15,
                center: ol.proj.fromLonLat([127.391055, 36.428902])
            })
        });


//   var markerLayer;
//   //마커 소스
//   var markerSource = new ol.source.Vector();

//   // addMarker();

//   //마커 함수
//   function addMarker() {
//     //좌표
//     var point_feature = new ol.Feature({
//       geometry: new ol.geom.Point([lunchList[randN].longitude,
//       lunchList[randN].latitude]).transform('EPSG:4326', 'EPSG:3857')
//     });
//     markerSource.addFeature(point_feature);
//   }

//   // markerSource.addFeature(point_feature);

//   var markerStyle = new ol.style.Style({
//     image: new ol.style.Icon({
//       opacity: 1,//투명도 1 = 100%
//       scale: 0.1,//크기 1 = 100%

//       //marker 이미지, 해당 point를 marker로 변경한다.
//       src: './marker04.png'
//     }),
//     //html의 css, z-index 기능이다.
//     zindex: 10
//   });

//   //마커 레이어 생성
//   markerLayer = new ol.layer.Vector({
//     source: markerSource, //마커 feature 들
//     style: markerStyle // 마커 스타일
//   });

//   // 지도에 마커가 그려진 레이어 추가
//   map.addLayer(markerLayer);


    </script>
</body>

</html>