<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/build/ol.js"></script>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.15.1/css/ol.css" type="text/css">
    <script src="mapvue.js" type="text/javascript"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="grid">
        <div class="grid-1">
            <div class="grid-1-a">
                <div id="contentWrap">
                    <div class="searchdiv">
                        <input placeholder="Search" type="search" class="input" id="searchRest">
                        <button type="button" id="btnSearch">검색</button><br>
                    </div>
                    <div class="memberList">
                        <table class="evenTable" id="memberListTable">
                        </table>
                    </div>
                    <div class="memberControl">
                        <button type="button" id="btnAllClear">선택 해제</button>
                        <button type="button" id="btnAllCheck">전체 선택</button>
                        <button type="button" id="btnRecommend">추천하기</button>
                    </div>
                </div>
            </div>

            <div class="grid-1-b">
                <div id="lunchWrap">
                    <div>
                        <p><span id="restListLength"></span>개 검색</p>
                        <input type="radio" name="radio" id="point">
                        <label for="point">선호도</label>
                        <input type="radio" name="radio" id="distance">
                        <label for="distance">거리순</label>
                    </div>
                    <div class="scrolltable" id="scrolltable">
                        <table>
                            <tr>
                                <td>결과 없음</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-2">
            <div id="mapCtrlWrap">
                <div class="btn-group">

                </div>
                <div class="layerBtn">
                    <button type="button" id="btnGeoOn">On</button>
                    <button type="button" id="btnGeoOff">Off</button>
                </div>
                <div class="gaiaBtn">
                    <button type="button" id="btnGaia">Gaia3D</button>
                </div>
            </div>
            <div class="map" id="map"></div>
        </div>

    </div>

</body>

</html>